<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <!------ Include the above in your HEAD tag ---------->
      
      <footer>
        <div class="container-fluid">
          <div class="col-md-12">
            <div class="col-md-4">
              <h5 class="head5"><strong>DEVA PRESERVATION</strong></h5>
            <p>we work to preserve the metallic assets and their productive life – during construction, operation and layup. </p>
      
            </div>
            <div class="col-md-4 ">
              <h5 class="head5"><strong>BROCHURES</strong></h5>              
                <p>Deva PS Company Profile</p>
               <p>Deva PS Services</p>
               <p>Deva PS Catalog for V-active VCI</p>
      </div>
            <div class="col-md-4">
              <h5 class="head5"><strong>CONTACT INFO</strong></h5>
              <p><strong>Address:</strong>7 Soon Lee St, #04-40 Ispace, Singapore 628718<!-- Random Adress -->
      </p>
              <p><strong>Email:</strong> enquiry@preservemetals.com</p>
              <p><strong>Tel.:</strong> +65-6665-0320 / 083</p>
            </div>
          </div>
        </div>
           
      
      <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </footer>
              
      
    