<div class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="card card-img-top" >
               
                <p class="p1">DEV VCI PRODUCT<span>The sample page to dev vci product</span></p>
                
              </div>
        </div>
        <div class="col-md-4">
            <div class="card card-img-top" >
               
                <p class="p1">DEV VCI PACKAGE  <span>The sample page to dev vci product</span></p>
              
              </div>

        </div>
        <div class="col-md-4">
            <div class="card card-img-top" >
               
                <p class="p1">V-ACTIVE FLUIDS<span>The sample page to dev vci product</span></p>
                
              </div>
        </div>
    </div>
</div>