<div class="container-fluid">
  <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner test">
          <div class="carousel-item active">
              <div class="row ">
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/carsoHeader.png" alt="1 slide"></div>
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/BW OFFSHORE SINGAPORE PTE LTD.jpg" alt="5 slide"></div>
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/Crane.png" alt="6 slide"></div>
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/COSL DRILLING PAN-PACIFIC (LABUAN) LTD.png" alt="3 slide"></div>
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/BW OFFSHORE SINGAPORE PTE LTD.jpg" alt="5 slide"></div>
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/Crane.png" alt="6 slide"></div>
                </div>
          </div>
          <div class="carousel-item">
              <div class="row ">
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/carsoHeader.png" alt="1 slide"></div>
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/BW OFFSHORE SINGAPORE PTE LTD.jpg" alt="5 slide"></div>
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/Crane.png" alt="6 slide"></div>
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/COSL DRILLING PAN-PACIFIC (LABUAN) LTD.png" alt="3 slide"></div>
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/BW OFFSHORE SINGAPORE PTE LTD.jpg" alt="5 slide"></div>
                  <div class="col-sm"><img class="d-block w-100" src="../../assets/Images/logo/Crane.png" alt="6 slide"></div>
                </div>
          </div>
      </div>
  </div>
</div>

